html { height: 100%; }

body {
    text-align: center;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(225deg, #30c9e2 0%, #3C7EB9 43%, #712BC5 100%);
}

.content_container {width: 100%;}

.login_container {
    margin-top: 140px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    width: 22%;
    font-family: sans-serif;
}

.block {display: block;}

.full_width {width: 100%;}
.almost_full_width {width: 98%;}

.field_height {height: 45px;}

.spacing {
    margin-top: 25px;
    margin-bottom: 25px;
}

.comfy {padding: 30px;}

.padding {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 0px;
}

.rounded {border-radius: 5px;}
.no_border {border: none;}
.minimal_border {border: 1px solid grey;}

.login { background-color: DodgerBlue; color: white; cursor: pointer; }
.login:hover { background-color: #1279DD; color: white; }
.login:active { background-color: #1279DD; color: white; opacity: 70%; }

.white {background-color: white;}

.left {text-align: left;}
.grey {color: grey;}
.font_16 {font-size: 16px;}
.font_20 {font-size: 20px;}

.navbar {background-color: white; margin: auto}
