<div class="navbar" style="height: 40px;">
    <div class="left" style="display: flex; float: left;">
        <div class="words" style="padding: 10px;"><a href="#">Site</a></div>
        <div class="words" style="padding: 10px;"><a href="#">Home</a></div>
        <div class="words" style="padding: 10px;"><a href="#">Blog</a></div>
        <div class="words" style="padding: 10px;"><a href="#">About</a></div>
    </div>
    <div class="right" style="text-align: right; display: flex; float: right;">
        <div class="words" style="display: inline-block; padding: 10px; text-align: right;"><a href='/logout'>Logout</a></div>
        <div class="words" style="display: inline-block; padding: 10px; text-align: right;"><a href='/login'>Login</a></div>
    </div>
</div>

<style>
.words {font-family: sans-serif; font-size: 18px; text-decoration: none; text-align: left; display: inline;}

a {color: royalblue;}
a:visited {color: royalblue;}
a:link { text-decoration: none;}
a:hover {color: black; opacity: 80%;}
a:active {color: black;}

</style>


